body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(41,47,51);
}

* {
   font-family: 'Helvetica';
  font-weight: 300;
}