{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pyginweb</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    {% block additional_head %}{% endblock %}
</head>


<body style="padding-top:65px;">


<div class="container" style="margin-bottom:50px;">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}"
                 role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}


    <!-- MAIN PAGE CONTENT -->
    {% block main_content %}{% endblock %}
</div>
<!-- PAGE LEVEL JAVASCRIPT -->
{% block page_javascript %} {% endblock %}

</body>
</html>